:global
  // @import url('@/libs/font-awesome/css/font-awesome') global;
  .apptest
    background-color: red
html, body
  height: 100%
body
  overflow: scroll!important
  -webkit-overflow-scrolling: touch
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: #f5f5f5
  overflow: hidden
.s
  display: none
